[submodule "Throne_City"]
	path = Throne_City
	url = https://github.com/Venkatesh2877/ThroneCity.git
[submodule "voice"]
	path = voice
	url = https://github.com/Venkatesh2877/voiceRec.git
[submodule "Throne_Wallet_Backend"]
	path = Throne_Wallet_Backend
	url = https://github.com/manasvi-29/throne-wallet-backend.git
